<template>
    <div>
        <div v-if="signedIn">
            <div class="form-group">
                <wysiwyg name="body"
                         v-model="body"
                         placeholder="Have something to say?"
                         :shouldClear="completed"></wysiwyg>
            </div>

            <button type="submit"
                    class="btn btn-primary"
                    @click="addReply">Post</button>
        </div>
        <p v-else class="text-center">
            Please <a href="/login">Sing In</a> to participate in this discussion.
        </p>
    </div>
</template>

<script>
    import 'jquery.caret';
    import 'at.js';

    export default {
        data() {
            return {
                body: '',
                completed: false
            };
        },

        mounted() {
            $('#body').atwho({
                at: "@",
                delay: 750,
                callbacks: {
                    remoteFilter: function(query, callback) {
                        $.getJSON("/api/users", {name: query}, function(usernames) {
                            callback(usernames)
                        });
                    }
                }
            });
        },

        methods: {
            addReply() {
                axios.post(location.pathname + '/replies', { body: this.body })
                    .catch(error => {
                        flash(error.response.data, 'danger');
                    })
                    .then(({data}) => {
                        this.body = '';
                        this.completed = true;

                        flash('Reply has been posted.');

                        this.$emit('created', data);
                    })
            }
        }
    }
</script>
